<div class="container">
  <p><%= link_to "New Post", new_post_path, class: "btn btn-primary" %></p>
  <div class="row">
	  <div class="col-md-9">
	    <% @posts.each do |post| %>
	    <div class="well">
	      	<%= post.location %>
					<br>
					<%= post.body %>
	        <br>
	        <br>
	        <%= link_to "Definitely doing that!", like_post_path(post), method: :put, class: "btn btn-success btn-xs" %>
	        <span class="text-success">(<%=post.get_upvotes.size %>)</span>
	        <%= link_to "Not Interested", dislike_post_path(post), method: :put, class: "btn btn-warning btn-xs" %>
	        <span class="text-warning">(<%=post.get_downvotes.size %>)</span>
          <%= link_to "Comments", post_path(post), class:"btn btn-link btn-xs" %> <small><em>(<%= post.comments.count %>)</em></small>
	        <span class="text-muted pull-right"><small>Created By: <%= post.user.name %> on
	        <%= post.created_at.strftime("%B %d, %Y at %l:%M %p") %></small></span>
	        <br>
	        <span class="text-muted pull-right"><small>Category: <%=post.category.name %></small></span>
	    </div>
	    <% end %>
	  </div>
		<div class="col-md-2">
			<div class="panel panel-default">
		  	<div class="panel-heading">Locations</div>
		    <div class="panel-body" style="padding: 0px;">
		      <div style="padding: 0px;">
		        <div class="table-responsive" style="border-left: 0px;">
		          <% @locations.each do |location| %>
		          <table class="table table-striped table-hover table-bordered" style="margin: 0px;">
		            <thead>
		             </thead>
		              <tbody>
		                <tr>
		                  <td>
		                  <%= link_to location %>
		                  </td>
		                </tr>
		              </tbody>
		          </table>
		          <%end%>
		        </div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">Categories</div>
		   		<div class="panel-body" style="padding: 0px;">
		        <div style="padding: 0px;">
		          <div class="table-responsive" style="border-left: 0px;">
		          	<% Category.all.each do |category| %>
		            <table class="table table-striped table-hover table-bordered" style="margin: 0px;">
		              <thead>
		              </thead>
		              <tbody>
		                <tr>
		                  <td>
		                  <%= link_to category.name, category_path(category) %>
		                  </td>
		                </tr>
		              </tbody>
		            </table>
		            <%end%>
		          </div>
		        </div>
		    	</div>
		  </div>
		</div>
		</div>
		</div>
	</div>
